#map-canvas {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;	
}
#about {
	width: 600px;
}
#dialog{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
	background-color: white;
}
.hidden {
	display: none;
}